
*{
    font-family: "Comic Sans MS"!important;
}

body{
background-image: url('https://b.thumbs.redditmedia.com/CvbkshF1eiJx415kZY-cvLyRzjp9AuV7IEBCGLv50gU.png');
}

body, input{
     -webkit-animation:rainbow 4s linear infinite; -moz-animation:rainbow 4s linear infinite; animation:rainbow 4s linear infinite;
}

#name{
 -webkit-animation: rotate 1s linear infinite;
    -moz-animation:rotate 1s linear infinite;
    animation:rotate 4s linear infinite;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes rainbow {
    0% {color:red;}
    20% {color:orange;}
    40% {color:green;}
    60% {color:blue;}
    90% {color:purple;}
    100% {color:red;}
}

#menubar{
   background: url('https://b.thumbs.redditmedia.com/q4ukN9z1H27Ed7AUUyzHf58ngo5sX1lQRel9bZDWaUo.png');
    -webkit-animation: scroll 1s linear infinite;
    animation: scroll 30s linear infinite;
}

* {
cursor: url('https://b.thumbs.redditmedia.com/d5onXefDWnqlRAOsvEI3kJk_ZRKbRxWZuT8Z0UYnYHY.png'), default !important;

}
