<style>


body{
font-family: 'Roboto', sans-serif;
	line-height: 1.65em;
    text-align: center;
   color: black;
   background-color: #AAAAFF;
   float: top;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div, #menubar, .menuform, .menubutton, .infobutton,input[type="submit"]{
          transition: all 0.3s ease 0s;
}

div, .infobutton{
              box-shadow: 0.625em 0.625em 0em rgba(0,0,0,0.19) !important;

}

div{
     opacity: 0.7 ;
  border-radius: 0em;
  width:70%;
       margin: auto;
  background-color: white ;

}

table {
	border-collapse: collapse;
	border-spacing: 0.0625;
    width: 100%;
    table-layout:fixed;
}

td, tr, table{
word-wrap: break-word;
overflow: auto; 
    }

div:hover{
  opacity:1;
  width: 80%;
  box-shadow: 0.9375em 0.9375em 0.3125em rgba(0,0,0,0.19);
}

p{
 padding:0.0625em;
}

#infobuttons{
background-color: rgba(0,0,0,0);
box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
height:5em;
width: 70% !important;
opacity: 1 !important;
}

.infobuttonsform{
height:100%;
display: inline;
}

.infobutton{
display: inline;
width:6em !important;
height: 100% !important;
float: center;
color: rgba(0,0,0,0);
         background-repeat: no-repeat;
    background-position: center; 
    background-color: #BBBBBB;
    border-style:none;
    background-size: 4em;
    text-align: right;
}

.infobutton:hover{
background-position: left;
width: 10em !important;
color: white;
}

#star{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/star.png);
}

#star:hover{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/star-gold.png);
}

#unstar{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/star-gold.png);
}

#unstar:hover{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/star.png);
}

/*For having no animations on the page*/
.noanimation{ 
    -webkit-animation: none !important; 
  -moz-animation: none !important; 
  -o-animation: none !important; 
  -ms-animation: none !important; 
  animation: none !important; 
} 

.noanimation:hover{ 
    width:70%;
} 

input[type="submit"]{
background-color: #CCC;
    border-style:none; 
    width: 20%;
}

input[type="submit"]:hover{
 background-color: #ABABAB;
 }

#name{
  margin-top:5em;
  font-size: 1.5em;
  font-weight: bold;
  opacity:0.7 !important;
 width: 35% !important;
}

.imgdesc {
position: fixed;
left:0em;
bottom:0em;
margin: 0%;
color: white;
width: 25%;
background-color: rgba(255,255,255,0) !important;
opacity: 1 !important;
z-index: 0;
box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
}

.imgdesc:hover{
z-index: 0;
background-color: rgba(255,255,255,200) !important;
width:100%;
color:black;
}

#menubar{
z-index: 1000;
margin-top:0%;
position: fixed !important;
top:0em;
left:0em;
width: 100%;
 opacity: 0.7 !important;
 height:5em;
 box-shadow: 0em 0em 1em 0.25em #888 !important;
}

#menubar:hover{
  opacity: 1 !important;
  box-shadow: none !important;
}

.menuform{
    float: left;
    height:100%;
    width:5%;
    top:0%;
    border-radius:0%;
}

.menuform:hover{
 width:20%
 }

.menubutton{
    width:100% !important;
    height:100% !important;
     background-color: #BBBBBB !important;
         background-repeat: no-repeat;
    background-position: center; 
    color: rgba(1,1,1,0);
         text-align: center;
         vertical-align: text-bottom;
    background-size: 1.25em, 1.25em;
         
}

.menubutton:hover{
 box-shadow: inset 0em -1.25em 0em -0.3125em #999 !important;
 background-color: #ABABAB !important;
     background-position: center top; 
     color:white;
}

#homebutton{
background-color: #CCCCCC!important;
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/home.png);
}

#homebutton:hover{
background-color: #CBCBCB;
}

#personbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/person.png);
}

#searchbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/search.png);
}

#groupsbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/groups.png);
}

#cohortsbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/cohorts.png);
}

#lotebutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/LOTE.png);
}

#schedulebutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/schedule.png);
}

@keyframes changebackground{
  from{background-color: white;}
  to{ background-color: lightskyblue; }
}

@-moz-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-webkit-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-ms-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-o-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}



</style>


