<style>


body{
font-family: 'Roboto', sans-serif;
	line-height: 26.4px;
    text-align: center;
   color: black;
   background-color: #AAAAFF;
   float: top;
}

div{
     opacity: 0.7 ;
  border-radius: 0px;
  width:70%;
       margin: auto;
  background-color: white ;
          transition: all 0.3s ease 0s;
              box-shadow: 10px 10px 5px rgba(0,0,0,0.19);

}

div:hover{
  opacity:1;
  width: 80%;
}

p{
 padding: 1px;
}

/*
This was originally for something, but failed.
hr{
color: red;
width: 60;
    display: inline;
   margin: 0px;
    border-style: inset;
    border-width: 1px;
}*/

/*For having no animations on the page*/
.noanimation{ 
    -webkit-animation: none !important; 
  -moz-animation: none !important; 
  -o-animation: none !important; 
  -ms-animation: none !important; 
  animation: none !important; 

  -webkit-transition: none !important; 
  -moz-transition: none !important; 
  -o-transition: none !important; 
  -ms-transition: none !important; 
  transition: none !important; 
} 

#name{
  margin-top:5%;
  font-size: 24px;
  font-weight: bold;
  opacity:0.7 !important;
 width: 35% !important;
}

.imgdesc {
position: absolute;
left:0;
bottom:0;
margin: 0%;
color: white;
width: 25%;
background-color: rgba(255,255,255,0) !important;
opacity: 1 !important;
}

.imgdesc:hover{
background-color: rgba(255,255,255,200) !important;
width:100%;
color:black;
}

#menubar{
z-index: 1000;
margin-top:0%;
position: fixed !important;
top:0;
left:0;
width: 100%;
 opacity: 0.7 !important;
 height:5%;
         transition: all 0.3s ease 0s;
                       box-shadow: 0px 0px;

}

#menubar:hover{
  opacity: 1 !important;
}

.menuform{
    float: left;
    height:100%;
    width:5%;
    border-radius:0%;
   transition: all 0.3s ease 0s;
}

.menuform:hover{
 width:20%
 }

.menubutton{
    width:100%;
    height:100%;
    background-color: white;
    border-style:none; 
        transition: all 0.3s ease 0s;
     background-color: #BBBBBB;
         background-repeat: no-repeat;
    background-position: center; 
    color: rgba(1,1,1,0);
         text-align: center;
         vertical-align: text-bottom;
}

.menubutton:hover{
 box-shadow: inset 0px -20px 0px -5px #999;
 background-color: #ABABAB;
     background-position: center top; 
     color:white;
}

#homebutton{
background-color: #CCCCCC!important;
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/home.png);
}

#homebutton:hover{
background-color: #CBCBCB;
}

#personbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/person.png);
}

#searchbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/search.png);
}

#groupsbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/groups.png);
}

#cohortsbutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/cohorts.png);
}

#lotebutton{
background-image: url(https://raw.githubusercontent.com/liavt/Scheduler/master/res/LOTE.png);
}

@keyframes changebackground{
  from{background-color: white;}
  to{ background-color: lightskyblue; }
}

@-moz-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-webkit-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-ms-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}

@-o-keyframes changebackground{
  from{background-color: white; }
  to{ background-color: lightskyblue; }
}



</style>


