html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-weight:bold;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

body{
    visibility: hidden;
    font-family: 'Roboto', sans-serif;
    line-height: 1.65em;
    text-align: center;
    color: black;
    background-color: #AAAAFF;
    /*Without the following lines of code, the website doesn't scroll on IPhone. Stupid Apple*/
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body div, .infobutton, select, input{
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

body div, .infobutton{
    -webkit-box-shadow: 0.625em 0.625em 0em rgba(0,0,0,0.19);
    -moz-box-shadow: 0.625em 0.625em 0em rgba(0,0,0,0.19);
    box-shadow: 0.625em 0.625em 0em rgba(0,0,0,0.19);
}

select{
    background-color: #CCC;
}

select:hover{
    -moz-box-shadow: inset 0em -2em 0em 0em #999;
    -webkit-box-shadow: inset 0em -2em 0em 0em #999;
    box-shadow: inset 0em -2em 0em 0em #999;
}

select option:hover{
    background-color: #BBB;
    color:white!important;
}

input{
    text-align: center;
    cursor:pointer;
}

input[type="text"],input[type="number"],input[type="url"]{
    cursor:text;
}

input:hover :not(input[type="checkbox"]){
    -webkit-box-shadow: inset 0em 0em 0em 1em #CCC;
    -moz-box-shadow: inset 0em 0em 0em 1em #CCC;
    box-shadow: inset 0em 0em 0em 1em #CCC;
}

input[type="reset"]:hover{
    -webkit-box-shadow: inset 0em 0em 0em 1em #A00;
    -moz-box-shadow: inset 0em 0em 0em 1em #A00;
    box-shadow: inset 0em 0em 0em 1em #A00;
}

input[type="submit"]:hover{
    -webkit-box-shadow: inset 0em 0em 0em 1em #999;
    -moz-box-shadow: inset 0em 0em 0em 1em #999;
    box-shadow: inset 0em 0em 0em 1em #999;
}

#settings,#imgdesc{
    -webkit-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    -moz-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
}

#glitch{font-family:Courier;animation:glitch1 3.5s infinite;position:relative;color:#000}#glitch::after,#glitch::before{content:attr(data-text);position:absolute;top:0;left:0;width:100%;height:100%}#glitch::after{color:#0F0;animation:glitch2 1.5s infinite alternate-reverse}#glitch::before{color:#f16f6f;animation:glitch3 2.5s infinite alternate-reverse}@keyframes glitch1{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:1}7%{transform:skew(-.5deg,-.9deg);opacity:.75}30%{transform:skew(.8deg,-.1deg);opacity:.75}55%{transform:skew(-1deg,.2deg);opacity:.75}75%{transform:skew(.4deg,1deg);opacity:.75}}@keyframes glitch2{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:.25}7%{transform:translate(-2px,-3px);opacity:.5}30%{transform:translate(-5px,-2px);opacity:.5}55%{transform:translate(-5px,-1px);opacity:.5}75%{transform:translate(-2px,-6px);opacity:.5}}@keyframes glitch3{0%,10%,100%,27%,35%,50%,52%,72%,80%{transform:none;opacity:.25}7%{transform:translate(2px,3px);opacity:.5}30%{transform:translate(5px,2px);opacity:.5}55%{transform:translate(5px,1px);opacity:.5}75%{transform:translate(2px,6px);opacity:.5}}

body div{
    opacity: 0.7 ;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    width:70%;
    margin: auto;
    background-color: white ;
}

table {
    border-collapse: collapse;
    border-spacing: 0.5em;
    table-layout:fixed;
    margin: 0 auto;
}

td, tr, table{
    word-wrap: break-word;
    overflow: auto; 
    border: solid;
    border-width: 0.2em 0.01em;
    font-weight: 500;
    text-align: center;
}
    
table tr:last-child { 
    border-bottom: none; 
}

body div:hover{
    opacity:1;
}

p{
    padding:0.0625em;
}

b{
    font-weight:700;
}

#infobuttons{
    background-color: rgba(0,0,0,0);
    -webkit-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    -moz-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    height:5em;
    width: 70% !important;
    opacity: 1 !important;
}

.infobuttonsform{
    display: inline;
}

.infobutton{
    display: inline;
    color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #BBBBBB;
    border-style:none;
    -webkit-background-size: 64px;
    -moz-background-size: 64px;
    -o-background-size: 64px;
    background-size: 64px;
    text-align: right;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;

}

.infobutton:hover{
    background-position: left;
    color: white;
    background-color: #AAAAAA;
}

#star{
    background-image: url(res/star-gold.svg);
}


/*For having no animations on the page*/
.noanimation{ 
    -webkit-animation: none !important; 
    -moz-animation: none !important; 
    -o-animation: none !important; 
    -ms-animation: none !important; 
    animation: none !important; 
} 

.noanimation:hover{ 
    width:70%;
} 

input[type="submit"],input[type="reset"]{
    background-color: #CCC;
    border-style:none; 
}

#name{
    font-size: 1.5em;
    font-weight: bold;
    opacity:0.7 !important;
    width: 35% !important;
    margin-top:1em;
}
#imgdesc {
    position: fixed;
    right:0em;
    top:0em;
    margin: 0%;
    color: black;
    width: 25%; 
    height: 1.5em;
    background-color: rgba(255,255,255,0) !important;
    opacity: 1 !important;
    word-wrap: break-word;
    overflow: hidden;
    z-index: 1000;
    font-weight:300;
}

#imgdesc:hover{
    background-color: rgba(255,255,255,100) !important;
    width:100%;
    height:5em;
    vertical-align: middle;
    color:black;
}

#menubar{
    z-index: 1000;
    margin-top:0%;
    position: fixed !important;
    top:0em;
    left:0em;
    width: 100%;
    opacity: 0.7 !important;
    height:5em;
    -webkit-box-shadow: 0em 0em 1em 0.25em #888 !important;
    -moz-box-shadow: 0em 0em 1em 0.25em #888 !important;
    box-shadow: 0em 0em 1em 0.25em #888 !important;
}

#menubar:hover{
    opacity: 1 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.menuform{
    float: left;
    height:100%;
    width:5%;
    top:0%;
    -webkit-border-radius:0%;
    -moz-border-radius:0%;
    border-radius:0%;
}

.menuform:hover{
    width:20%
}

.menubutton{
    width:100% !important;
    height:100% !important;
    background-color: #BBBBBB !important;
    background-repeat: no-repeat;
    background-position: center; 
    color: rgba(1,1,1,0);
    text-align: center;
    vertical-align: text-bottom;
    -webkit-background-size: 1.25em, 1.25em;
    -moz-background-size: 1.25em, 1.25em;
    -o-background-size: 1.25em, 1.25em;
    background-size: 1.25em, 1.25em;

}

.menubutton:hover{
    -webkit-box-shadow: inset 0em -1.23em 0em -0.3125em #999 !important;
    -moz-box-shadow: inset 0em -1.23em 0em -0.3125em #999 !important;
    box-shadow: inset 0em -1.23em 0em -0.3125em #999 !important;
    background-color: #ABABAB !important;
    background-position: center top; 
    color:white;
}

#schedule-parent{
    opacity: 1 !important;
    background-color: rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    -moz-box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    box-shadow: 0em 0em 0em rgba(0,0,0,0) !important;
    border-left: none;
    border: none;
    border-style:none;
    display: table;
}

#schedule{
	table-layout: fixed;
	width: 100%;
}

#schedule-tooltip{
    background-color: rgba(0,0,0,0);
    color: rgba(255,255,255,0);
}

#schedule:hover ~ #schedule-tooltip{
    color: rgba(255,255,255,255) !important;
}

#schedule-container{
	padding-bottom: 1em;
}

#imgdesc:hover ~ div{
    opacity: 0 !important;
}

q {
    quotes: "“" "”" '‘' '’';
}

/*Settings tab*/
#settings{
    position:fixed;
    left:0;
    bottom:0%;
    display:block;
    width:0%;
    opacity: 1 !important;
    height:100% !important;
    background-color: white;
    z-index: 10000 !important;
    overflow:hidden;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#settings-button{
	bottom:0%;
	left:0%;
	position:fixed;
	width:3em;
	height:3em;
}

#shade{
    width:100%;
    position:fixed;
    height: 100%;
    left: 0%;
    bottom:0%;
    display:none;
    background-color: black;
    opacity:0;
    z-index: 9001 /*It's over 9000!*/ !important;
}

#message{
    color:white;
    visibility: visible !important;
    position: fixed;
    top: 50%;
    left: 50%;
    /*Welcome to bring your own prefix day! Courtesy of great web standards and conformance.*/
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: bold;
}

#gSignInWrapper{
    width:20%;
    opacity:1;
    cursor:pointer;
}

#login-icon{
    background: url('https://developers.google.com/identity/images/g-logo.png') transparent no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1em;
}

.customGPlusSignIn{
    width:100%;
    opacity:1;
}

.time.cell{
    background-color: #CCC;
    width:12em;
    text-align: center;
}

.disabled.cell{
    -webkit-filter:grayscale(70%) saturate(50%);
    filter:grayscale(70%) saturate(50%);
}

.disabled.cell:hover{
    -webkit-filter:grayscale(0) saturate(0);
    filter:grayscale(0) saturate(0);
}

.disabled.time.cell{
    background-color: #AAA;
}

.time.cell .time-contents{
    padding-left:0;
    padding-right:0;
}

.time.cell .time-contents .time-hours{
    width:40%;
    text-align: center;
    float:left;
}

.time.cell .time-contents .time-dash{
    width:1%;
    text-align: center;
    float:left;
}

#day-shift {
	width: 75%;
}

#day-shift-left {
	width: 2.5%;
	float: left;
	cursor: pointer;
	opacity: 1;
}

#day-shift-right {
	width: 2.5%;
	float: right;
	cursor: pointer;
}

@media only screen and (max-width:600px) {
	#day-shift-left, #day-shift-right {
		width: 7.5%;	
	}
	
	#day-shift {
		width: 90%;
	}
	
	#schedule-parent{
		width: 100%;
		overflow-x: scroll;
		display: block;
	}
	
	#schedule {
		width: 400%;
	}
}


/* April fools start */

*{
    font-family: "Comic Sans MS"!important;
}

body{
    background-image: url('https://b.thumbs.redditmedia.com/CvbkshF1eiJx415kZY-cvLyRzjp9AuV7IEBCGLv50gU.png') !important;
}

#menubar{
    background: url('https://b.thumbs.redditmedia.com/q4ukN9z1H27Ed7AUUyzHf58ngo5sX1lQRel9bZDWaUo.png');
}

* {
    cursor: url('https://b.thumbs.redditmedia.com/d5onXefDWnqlRAOsvEI3kJk_ZRKbRxWZuT8Z0UYnYHY.png'), default !important;
}